.vscode/**
src/**
eslint.config.mjs
.gitignore
tsconfig.json
**/*.map
**/*.ts
!out/**
!media/**
out/**/__tests__/**
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/vscode-jsonrpc/**
!node_modules/semver/**
!node_modules/parse-semver/**
!node_modules/@vscode/debugadapter/**
!node_modules/@vscode/debugprotocol/**
!node_modules/node-pty/**
